@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html{

  background-color: rgb(233, 115, 217);

  overflow: hidden;
  scroll-behavior: smooth;

  font-family: 'Montserrat' ;

}
body{
  display: flex;
  /* translate: -10em 0; */
  /* rotate: 10deg; */
  transform-origin: 0 0;
  

}

main{
  transition: all 0.6s ease;
  
}





.toggle-menu{
  position: fixed;
  right: 2rem;
  top: -2rem;
  width: 5rem;
  height: 5rem;
  rotate: -20deg;
  /* translate: 10em 0; */
  /* background-color: blueviolet; */
  z-index: 2;
  transform-origin: 100% 100%;
  
  /* border-top-right-radius: 5em; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5em;
  transition: all 0.6s ease;

}


.navbar{
  position: fixed;
  z-index: 1;
  /* background-color: burlywood; */
  height: 100%;
  width: 20rem;
  translate: -10rem -3rem;
  transition: all 0.6s ease;
  transform-origin: 0 0;
  rotate: 20deg;
  /* border-top-right-radius: 5em; */


}

.navbar-nav{
  position: fixed;
  /* background-color: pink; */
  /* padding: 2rem; */
  /* rotate: 10deg; */
  transition: all 0.6s ease;
  transform-origin: 0 0;
  width: auto;
  z-index: 1;
  bottom: 0;
  right: 4rem;
  display: flex;
  flex-direction: column;
}

.nav-item{
  width: 100%;
  height: 100%;

}

.nav-link{
  padding: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: WHITE;
  font-size: 1.5rem;
  font-weight: bolder;
  /* background-color: rgb(233, 115, 217); */
  width: 100%;
  height: 100%;
  display: inline-block;
}

.navbar:hover {
  rotate: 0deg;
  translate: -0.5rem 0;
}

.navbar:hover .toggle-menu {
  rotate: 0deg;
  translate: 4rem 3rem;
}

.navbar:hover + .content {
  rotate: -3deg;
  translate: 15rem 0;
}


.content{
  transform-origin: 0 0;
  /* perspective: 1500px; */
  
}

.page {
  padding-left: 10rem;
  height: 100vh;
  transition: all 0.6s ease;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

/* .hidden {
  transform: scaleY(0) rotateX(45deg);


} */

.content-header{
  height: 4rem;
  width: 90%;
  text-align: right;
  margin: auto;
}

.page-content {
  /* background-color:cyan; */
  display: grid;
  width: 90%;
  gap: 0.2rem;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  /* grid-template-rows: 10em; */
}

.page-content section{
  margin: 1em  2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  max-width: 38rem;

  /* text-align: left; */
}

/* .page-content p{
  margin: 1em  2rem;
}

.page-content h2{
  margin: 0.5em;
} */

.page-content a{
  text-decoration: none;
  font-weight: bold;
  color: purple;
}

.page img {
  width: 100%;
  /* min-width: 10rem; */
  max-width: 38rem;
}

.page ul{
  list-style: disc;
  margin-left: 2em;
}

.page ol{
  list-style: decimal;
  margin-left: 2em;
}

.page li {
  margin: 1em 0;
}

#page-one{
  background-color: greenyellow;
}

#page-two{
  background-color: rgb(228, 63, 34);
}

#page-three{
  background-color: tomato;
}

#page-four{
  background-color: rgb(230, 219, 69);
}

